/* µÇÂ½½çÃæµÄcss */
body
{
	margin:0px auto;
	padding:0px;
	border:0;
	
	font-family:Tahoma,Geneva,sans-serif;
}
div
{
	/* border:1px solid black;   */
	margin:0px auto;
	padding:0px;
	
}
#header
{
	width:100%;
	height:100px;
	background-color:#c1ffe4;
}
#footer
{
	width:100%;
	height:500px;
	background:url(images/33.jpg);
	
}
a
{
	text-decoration:none;
	
}
a:hover
{
	font-weight:bold;
	text-decoartion:underline;
}
div.logo
{
	width:15%;
	height:80px;
	position:relative;
	float:left;
	left:40px;
	top:10px;
}
font.logo
{
	color:#FF0000;
	font-size:45px;
	font-family:Î¢ÈíÑÅºÚ,ËÎÌå;
	
}
font.login
{
	color:#000;
	font-size:22px;
	font-family:ËÎÌå;
}
div.logo2
{
	width:12%;
	height:80px;
	position:relative;
	float:right;
	right:30px;
	top:22px;
}
div.login
{
	float:right;
	width:32%;
	height:420px;
	position:relative;
	right:15px;
	top:50px;
	background-color:#FCFCFC;
}
div.login_label
{
	float:left;
	width:100px;
	height:30px;
	position:relative;
	left:10px;
	top:40px;
}
div.login_form
{
	float:left;
	width:80%;
	height:220px;
	position:relative;
	left:45px;
	top:60px;
}
div.login_button
{
	float:left;
	width:50%;
	height:70px;
	position:relative;
	left:70px;
	top:0px;
}
input
{ 
	font-family:"Arial", "Tahoma", "Î¢ÈíÑÅºÚ", "ÑÅºÚ"; 
	border:1;
}
.btns 
{ 
	width:143px; 
	height:40px; 
	background:url("images/bg11.jpg") no-repeat left top; 
	color:#FFF; 
	 border:0;
} 
label.hide
{
	display:none;
	font-size:12px;
}label.show
{
	display:inline;
	font-size:12px;
}